





form {

    background-color: rgba(57, 54, 60, 0.381);
    margin-left: 16%;
    margin-top: 35%;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    border-color: blueviolet;
    color: #fff;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

input {

    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}